:root{
    --color-text:#434455;
    --color-primary-brand: #4D5AE5;
    --color-ressed-state: #404BBF;
    --color-dark:#2E2F42;
    --color-success: #31D0AA;
    --color-subtle-text:#8E8F99;
    --color-accent:#E7E9FC;
    --color-light:#F4F4FD;
    --color-modal-overlay:#2E2F42;
    --color-white-background:#FFFFFF;
    --color-modal-background: #FCFCFC;
    --color-naigation: var(--color-text);
    --color-naigation-action: var(--color-ressed-state);
    --color-filter-button-text: var(--color-primary-brand);
    --color-filter-button-background: var(--color-accent);

    
    --color-tel-and-mail:#434455;
    --color-hover-tel-and-mail: #404BBF;



    --color-links: #2E2F42;
    --color-active-links: #404BBF;
    --color-buttons-text: white;
    --color-buttons-background: #4D5AE5;
    --color-active-buttons-background: #404BBF;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-text);
    text-decoration-line: none;
}

/*font*/
.links-font{
    font-weight: 500;
    font-style: normal;
}
.h1-fonts{
    color: var(--color-buttons-text);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;


}
.h2-fonts{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}
.h3-fonts{
    font-weight: 500;
    font-size: 20;
    line-height: 1.2;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;

    color:var(--color-text);
    text-decoration-line: none;
    
}

.logo-fooster{
    font-family: 'Raleway', sans-serif;
    color:var(--color-light);
    text-decoration-line: none;
    
}

.logo-web{
    color: var(--color-primary-brand);
}

.contacts-telephone-mail{
    color: var(--color-tel-and-mail);
    text-decoration-line: none;
}

.contacts-telephone-mail:hover,
.contacts-telephone-mail:focus{
    color: var(--color-hover-tel-and-mail);
}

.links{
    color:var(--color-links);

    text-decoration: none;
}
.links:hover,
.links:focus{
    color:  var(--color-active-links);
}

.buttons{
    color: var(--color-buttons-text);
    background-color: var(--color-buttons-background);

}

.buttons:hover,
.buttons:focus {
    cursor: pointer;
    background-color: var(--color-active-buttons-background);
}

.section-hero{
    
    background-color: var(--color-dark);
}

.section-team{
    background-color: var(--color-light);
}




.filters-buttons {
    color: var(--color-filter-button-text);
    background-color: var(--color-filter-button-background);
    font-weight: 500;
    letter-spacing: 4%;
    text-align: center;
}

.filters-buttons:hover,
.filters-buttons:focus {
    cursor: pointer;
    color: var(--color-buttons-text);
    background-color: var(--color-active-buttons-background);
}

.lists{
    list-style-type: none;
}

.project-card{
    background-color: var(--color-white-background);
}

.image-project-card{
    width: "360";
    height: "300";
    background-color: var(--color-primary-brand);
}

.fooster-parameters{
    background-color: var(--color-dark);
    color: var(--color-light);
}